@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$backgrnd-clr: #f2f2f2;
$main-text-clr: #1a222e;
$accent-clr: #ffc600;
$main-font: "Poppins", sans-serif;
$subheader-clr: #e5e5e5;

body {
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  background-color: $backgrnd-clr;
  margin: 0px;
  color: $main-text-clr;
  height: 100vh;
}
/* Buttons */
.back-btn {
  background-color: none;
  color: black;
  margin-right: 10px;
}
#dashboard-btn {
  min-width: 150px;
}
.btn-dark {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 8px;
  font-style: italic;
}
.btn {
  font-weight: 600;
  width: 15%;
  min-width: 60px;
  margin-top: 50px;
}

.next-btn {
  margin-left: 10px;
}
/* Container */
.container {
  text-align: center;
  display: block;
  margin: auto;
}
.container > hr {
  padding: 70px 0;
  text-align: center;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}
#firstRow,
#scndRow {
  text-align: left;
}
.info {
  display: block;
  padding: 10%;
}

/* Text: headings, special text style */
.last-sentence {
  margin-top: 0px;
}
h1 {
  font-family: $main-font;
  font-weight: 700;
  margin-top: auto;
  margin-bottom: 10px;
  color: $main-text-clr;
}
h3 {
  font-size: 16px;
  text-align: center;
}
h4 {
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}
.line {
  border-bottom: 2px solid $subheader-clr;
  margin-left: 25%;
  margin-right: 25%;
}

#logo {
  height: 50px;
  padding: 10px;
}

.navbar {
  background: $main-text-clr;
  position: relative;
  width: 100%;
}

.navbar-brand {
  display: block;
  margin: auto;
}

p {
  font-size: 22px;
}
.progress {
  width: 90%;
  height: 6px;
  background: white;
  border-radius: 3px;
  overflow: hidden;
  margin: auto;
  margin-bottom: 20px;
}
.progress-bar {
  display: block;

  height: 100%;
  background: linear-gradient(
    90deg,
    $accent-clr,
    #f9530b 17%,
    #fdf542 34%,
    #f9530b 51%,
    #fdf542 68%,
    #f9530b 85%,
    $accent-clr
  );
  background-size: 300% 100%;
  animation: progress-animation 2s linear infinite;
}

/* Column alignment */
.right {
  text-align: justify;
}
.row {
  padding: 20px;
}
// .select {
//   height: 40px;
//   font-size: 20px;
//   background-color: white;
//   cursor: pointer;
// }
.subheader {
  background-color: $subheader-clr;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 50px;
}
/* The switch - the box around the slider */
.switch {
  position: absolute;
  display: inline-block;
  width: 70px;
  height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/* Inputs */
input[type="radio"]:checked {
  background-color: $accent-clr;
  border-color: $accent-clr;
}

input:checked + .slider {
  background-color: $accent-clr;
}

input:focus + .slider {
  box-shadow: 0 0 1px $accent-clr;
}

input:checked + .slider:before {
  -webkit-transform: translateX(42px);
  -ms-transform: translateX(42px);
  transform: translateX(42px);
}
.on {
  display: none;
}

.on,
.off {
  color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
  font-family: $main-font;
}

input:checked + .slider .on {
  display: block;
}

input:checked + .slider .off {
  display: none;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* Tooltip box */
.con-tooltip {
  position: relative;
  background: $main-text-clr;
  border-radius: 50%;
  padding: 0 10px;
  height: 25px;
  margin: 10px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  cursor: default;
}

/* Tooltip */
.tooltip {
  visibility: hidden;
  z-index: 1;
  opacity: 0.4;
  width: 100%;
  padding: 0px 60px;
  background: $main-text-clr;
  color: white;
  position: absolute;
  top: -140%;
  left: -25%;
  border-radius: 5px;
  font: $main-font 12px;
  transform: translateY(9px);
  transition: all 0.3s ease-in-out;

  box-shadow: 0 0 3px rgba(56, 54, 54, 0.86);
}
/* tooltip  after*/
.tooltip::after {
  content: " ";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 12.5px 0 12.5px;
  border-color: $main-text-clr transparent transparent transparent;
  position: absolute;
  left: 40%;
}

.con-tooltip:hover .tooltip {
  visibility: visible;
  transform: translateY(-10px);
  opacity: 1;
  transition: 0.3s linear;
  animation: odsoky 1s ease-in-out infinite alternate;
}
@keyframes odsoky {
  0% {
    transform: translateY(6px);
  }

  100% {
    transform: translateY(1px);
  }
}
.top:hover {
  transform: translateY(-6px);
}

/* Responsivity */
@media only screen and (min-width: 1008px) {
  .container {
    width: 1120px;
  }
}
@media only screen and (max-width: 1007px) {
  .container {
    margin-right: 24px;
    margin-left: 24px;
  }
}
@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    margin-right: 12px;
    margin-left: 12px;
  }
}
@keyframes progress-animation {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 0;
  }
}
